<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fitness Tracker - <%= title %></title>
  <link rel='stylesheet' href='/stylesheets/main.css' />
</head>
<body>
  <header>
    <h1>Fitness Tracker</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/workouts">Workouts</a></li>
        <li><a href="/workouts/create">Create Workout</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>
    </nav>
  </header>
  <main>
